.section__contact {
    @include flex-center;
}

.section__contactForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2rem 5rem auto;
    grid-gap: 1rem;
    width: 60vw;
}

.txtArea {
    grid-column: 1 / 3;
}

.submitBtn {
    grid-column: 1 / 3;
}

@include large-screens {
    .section__contactForm {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 2rem 2rem 5rem auto;
        grid-gap: 1rem;
        width: 60vw;
    }
    
    .txtArea {
        grid-column: 1;
    }
    
    .submitBtn {
        grid-column: 1;
    }
}