.section__creators {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.section__creatorsLeftGroup {
    @include flex-center;
}

.section__creatorsPic {
    width: 30vw;
}

.section__creatorsTxt {
    padding: 0 4rem;
}

@include large-screens {
    .section__creators {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 4rem;
        grid-template-areas: "first"
                            "second";

        .section__creatorsRightGroup {
            grid-area: first;
        }

        .section__creatorsLeftGroup {
            grid-area: second;
        }

        .section__creatorsPic {
            width: 40vmax;
        }

        .section__creatorsTxt {
            text-align: center;
        }
    }
}


