.faq {

    // &__header {
    //     @include set-header-container($page-header: true);
    // }

    // &__title {
    //     @include set-title($page-title: true);
    // }

    // &__body {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: center;
    // }

    // &__question {
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    //     font-weight: 600;
    //     cursor: pointer;
    // }
    
    // &__icon {
    //     width: 17px;
    //     height: 17px;
    //     transition: transform .4s ease;
    // }
    
    // &__togglerBtn {
    //     display: none;
    // }
    
    // &__answer {
    //     display: none;
    //     padding-top: 1rem; 
    //     color: grey;
    // }
    
    // &__togglerBtn:checked ~ .faq__answer {
    //     display: block;
    // }
    
    // &__togglerBtn:checked ~ .faq__question .faq__icon {
    //     transform: rotate(180deg);
    // }
    
    // &__togglerBtn2:checked ~ .faq__answer {
    //     display: block;
    // }
    
    // &__togglerBtn2:checked ~ .faq__question .faq__icon {
    //     transform: rotate(180deg);
    // }
    
    // &__togglerBtn3:checked ~ .faq__answer {
    //     display: block;
    // }
    
    // &__togglerBtn3:checked ~ .faq__question .faq__icon {
    //     transform: rotate(180deg);
    // }

}


.subpage__faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}