.subpage__products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    padding: 1.5em 5em; 

    @include large-screens {
        isplay: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2rem;
        padding: 1.5em 5em; 
    } 
}


