.section__steps {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4em;

    @include large-screens {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0;
        width: 60vw;
        margin: 0 auto;
    }
}
