
.pageSection {
    width: 90vw;
    margin: 5rem auto;
}

.sectionHeader {
    margin: 3em 0;
}

.sectionTitle {
    font-weight: map-get($font-weights, bold);
    font-size: 3rem;
    text-align: center;
}

.sectionSubtitle {
    font-weight: map-get($font-weights, semi-bold);
    font-size: 1.5em;
    text-align: center;
    margin: 0;
}

.sectionHeader__line {
    background: $brand-gradient;
    width: 5rem;
    height: 5px;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 15px;
}

.stepsWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4em;
}

.pricingWrapper {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    grid-gap: 2rem;
    justify-content: center;
    padding: 1rem 0;
}

.creators__header {
    margin: 3em 0;
}

.creatorsWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.creators__leftGroup {
    @include flex-center;
}

.creatorsPic {
    width: 30vw;
}

.creators__txt{
    padding: 0 4rem;
}

.subPageHeader {
    text-align: center;
    margin: 3rem;
}

.subPageTitle {
    font-weight: map-get($font-weights, black-bold);
    font-size: 3rem;
    margin: .2em 0;
}

.subPageBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productsPageWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    padding: 1.5em 5em; 
}

@media screen and (max-width: 868px) {
    .stepsWrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0;
        width: 60vw;
        margin: 0 auto;
    }
    
    .pricingWrapper {
        display: grid;
        grid-template-columns: repeat(1, 42vmax);
        grid-gap: 2rem;
        justify-content: center;
        padding: 1rem 0;
    }
    
    .creatorsWrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 4rem;
        grid-template-areas: "first"
                            "second";

        .creators__rightGroup {
            grid-area: first;
        }

        .creators__leftGroup {
            grid-area: second;
        }

        .creators__header {
            margin-top: 0;
        }

        .creators__txt {
            text-align: center;
        }

        .creatorsPic {
            width: 40vmax;
        }
    }

    .productsPageWrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2rem;
        padding: 1.5em 5em; 
    }

}

@media screen and (max-width: 570px) {
    .sectionTitle {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 400px) {
    .sectionTitle {
        font-size: 2rem;
    }
}