.section {
    @include section-container;
    
    &__header {
        @include set-header-container($page-header: false);
        @include large-screens { margin-top: 0; }
    }

    &__title {
        @include set-title($page-title: false);
        @include medium-phone-screens { font-size: 2.5rem; }
        @include small-phone-screens { font-size: 2rem; }
    }

    &__subtitle {
        @include set-subtitle;
    }

    &__headerLine {
        @include set-line;
    }

}
