.button {
    background: $brand-gradient;
    color: #ffffff;
    font-weight: map-get($font-weights, semi-bold);
    padding: 1.2em 2.5em;
    border: none;
    border-radius: 6px;
    outline: none;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }
} 

.hero__button {
    @extend .button;
    font-size: 1em;
    width: 55%;
    margin: 1em 0;
    transition-duration: 500ms;
    transition-property: transform;

    @include extra-large-screens {
        font-size: .9em;
        padding: 1.2em 1.5em;
    }
    
    @include medium-phone-screens {
        width: 70%;
    }
    
    @include small-phone-screens {
        width: 90%;
    }
}

.card__button {
    @extend .button;
    width: 70%;
}

.card__button--light {
    background: #fff;
    color: $primary-color;
    font-weight: map-get($font-weights, semi-bold);
    padding: 1.2em 2.5em;
    border: none;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    width: 70%;

    &:hover {
        transform: scale(1.1);
    }
}

.submitBtn {
    @extend .button;
}
